<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.f.common.mapper.RegionIdCardPrefixMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chen.f.common.pojo.RegionIdCardPrefix">
        <id column="ID" property="id" />
        <id column="PREFIX" property="prefix" />
        <result column="PARENT_PREFIX" property="parentPrefix" />
        <result column="PROVINCE" property="province" />
        <result column="CITY" property="city" />
        <result column="NAME" property="name" />
        <result column="FULL_NAME" property="fullName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, PREFIX, PARENT_PREFIX, PROVINCE, CITY, NAME, FULL_NAME
    </sql>

</mapper>
