<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.f.common.mapper.SysDictionaryItemMapper">
    
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chen.f.common.pojo.SysDictionaryItem">
        <id column="ID" property="id" />
        <result column="SYS_DICTIONARY_ID" property="sysDictionaryId" />
        <result column="CODE" property="code" />
        <result column="NAME" property="name" />
        <result column="KEY" property="key" />
        <result column="VALUE" property="value" />
        <result column="VALUE_I18N" property="valueI18n" />
        <result column="KEY_TYPE" property="keyType" />
        <result column="VALUE_TYPE" property="valueType" />
        <result column="COLOR" property="color" />
        <result column="ORDER" property="order" />
        <result column="REMARK" property="remark" />
        <result column="STATUS" property="status" />
        <result column="UPDATED_SYS_USER_ID" property="updatedSysUserId" />
        <result column="CREATED_SYS_USER_ID" property="createdSysUserId" />
        <result column="UPDATED_DATE_TIME" property="updatedDateTime" />
        <result column="CREATED_DATE_TIME" property="createdDateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `ID`,
        `SYS_DICTIONARY_ID`,
        `CODE`,
        `NAME`,
        `KEY`,
        `VALUE`,
        `VALUE_I18N`,
        `KEY_TYPE`,
        `VALUE_TYPE`,
        `COLOR`,
        `ORDER`,
        `REMARK`,
        `STATUS`,
        `UPDATED_SYS_USER_ID`,
        `CREATED_SYS_USER_ID`,
        `UPDATED_DATE_TIME`,
        `CREATED_DATE_TIME`
        
    </sql>

</mapper>
