<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.f.common.mapper.SysPermissionApiMapper">
    
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chen.f.common.pojo.SysPermissionApi">
        <id column="ID" property="id" />
        <result column="SYS_PERMISSION_ID" property="sysPermissionId" />
        <result column="SYS_API_ID" property="sysApiId" />
        <result column="CREATED_SYS_USER_ID" property="createdSysUserId" />
        <result column="CREATED_DATE_TIME" property="createdDateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `ID`,
        `SYS_PERMISSION_ID`,
        `SYS_API_ID`,
        `CREATED_SYS_USER_ID`,
        `CREATED_DATE_TIME`
        
    </sql>

</mapper>
