<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.f.core.mapper.SysApiRolePermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chen.f.core.pojo.SysApiRolePermission">
        <id column="API_ID" property="id"/>
        <result column="API_NAME" property="name"/>
        <result column="API_URL" property="url"/>
        <result column="API_HTTP_METHOD" property="httpMethod"/>
        <result column="API_TYPE" property="type"/>
        <result column="API_REMARK" property="remark"/>
        <result column="API_STATUS" property="status"/>
        <result column="API_UPDATE_SYS_USER_ID" property="updateSysUserId"/>
        <result column="API_CREATE_SYS_USER_ID" property="createSysUserId"/>
        <result column="API_UPDATE_DATE_TIME" property="updateDateTime"/>
        <result column="API_CREATE_DATE_TIME" property="createDateTime"/>
        <collection property="sysRoleList"
                    ofType="com.chen.f.core.pojo.SysRole"
                    javaType="java.util.ArrayList">
            <id column="ROLE_ID" property="id"/>
            <result column="ROLE_NAME" property="name"/>
            <result column="ROLE_REMARK" property="remark"/>
            <result column="ROLE_STATUS" property="status"/>
            <result column="ROLE_UPDATE_SYS_USER_ID" property="updateSysUserId"/>
            <result column="ROLE_CREATE_SYS_USER_ID" property="createSysUserId"/>
            <result column="ROLE_UPDATE_DATE_TIME" property="updateDateTime"/>
            <result column="ROLE_CREATE_DATE_TIME" property="createDateTime"/>
        </collection>
        <collection property="sysPermissionList" ofType="com.chen.f.core.pojo.SysPermission"
                    javaType="java.util.ArrayList">
            <id column="PERMISSION_ID" property="id"/>
            <result column="PERMISSION_NAME" property="name"/>
            <result column="PERMISSION_REMARK" property="remark"/>
            <result column="PERMISSION_STATUS" property="status"/>
            <result column="PERMISSION_UPDATE_SYS_USER_ID" property="updateSysUserId"/>
            <result column="PERMISSION_CREATE_SYS_USER_ID" property="createSysUserId"/>
            <result column="PERMISSION_UPDATE_DATE_TIME" property="updateDateTime"/>
            <result column="PERMISSION_CREATE_DATE_TIME" property="createDateTime"/>
        </collection>
    </resultMap>

    <!--根据用户名查找用户角色权限信息-->
    <select id="selectSysApiRolePermissionList" resultMap="BaseResultMap">
        SELECT
            API.ID                          API_ID,
            API.NAME                        API_NAME,
            API.URL                         API_URL,
            API.HTTP_METHOD                 API_HTTP_METHOD,
            API.TYPE                        API_TYPE,
            API.REMARK                      API_REMARK,
            API.STATUS                      API_STATUS,
            API.UPDATE_SYS_USER_ID          API_UPDATE_SYS_USER_ID,
            API.CREATE_SYS_USER_ID          API_CREATE_SYS_USER_ID,
            API.UPDATE_DATE_TIME            API_UPDATE_DATE_TIME,
            API.CREATE_DATE_TIME            API_CREATE_DATE_TIME,

            ROLE.ID                         ROLE_ID,
            ROLE.NAME                       ROLE_NAME,
            ROLE.REMARK                     ROLE_REMARK,
            ROLE.STATUS                     ROLE_STATUS,
            ROLE.UPDATE_SYS_USER_ID         ROLE_UPDATE_SYS_USER_ID,
            ROLE.CREATE_SYS_USER_ID         ROLE_CREATE_SYS_USER_ID,
            ROLE.UPDATE_DATE_TIME           ROLE_UPDATE_DATE_TIME,
            ROLE.CREATE_DATE_TIME           ROLE_CREATE_DATE_TIME,

            PERMISSION.ID                   PERMISSION_ID,
            PERMISSION.NAME                 PERMISSION_NAME,
            PERMISSION.REMARK               PERMISSION_REMARK,
            PERMISSION.STATUS               PERMISSION_STATUS,
            PERMISSION.UPDATE_SYS_USER_ID   PERMISSION_UPDATE_SYS_USER_ID,
            PERMISSION.CREATE_SYS_USER_ID   PERMISSION_CREATE_SYS_USER_ID,
            PERMISSION.UPDATE_DATE_TIME     PERMISSION_UPDATE_DATE_TIME,
            PERMISSION.CREATE_DATE_TIME     PERMISSION_CREATE_DATE_TIME
        FROM
            SYS_API API
            LEFT JOIN SYS_ROLE_API ROLE_API ON API.ID = ROLE_API.SYS_API_ID
            LEFT JOIN SYS_ROLE ROLE ON ROLE_API.SYS_ROLE_ID = ROLE.ID
            LEFT JOIN SYS_PERMISSION_API PERMISSION_API ON API.ID = PERMISSION_API.SYS_API_ID
            LEFT JOIN SYS_PERMISSION PERMISSION ON PERMISSION_API.SYS_PERMISSION_ID = PERMISSION.ID
        WHERE
            (ROLE.ID IS NULL OR ROLE.STATUS = 'ENABLED')
            AND (PERMISSION.ID IS NULL OR PERMISSION.STATUS = 'ENABLED')
    </select>


</mapper>