<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.f.core.mapper.SysRoleMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chen.f.core.pojo.SysRoleMenu">
        <id column="SYS_ROLE_ID" property="sysRoleId" />
        <result column="SYS_MENU_ID" property="sysMenuId" />
        <result column="CREATE_SYS_USER_ID" property="createSysUserId" />
        <result column="CREATE_DATE_TIME" property="createDateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SYS_ROLE_ID, SYS_MENU_ID, CREATE_SYS_USER_ID, CREATE_DATE_TIME
    </sql>

</mapper>
